<md-spinner *ngIf="isLoading" class="spinner" color="warn"></md-spinner>
<div *ngIf="!isLoading">
  <form  #userForm="ngForm" (ngSubmit)="ngForm.resetForm()" class="user-form" novalidate>
    <br /><table class="user-full-width" cellspacing="0">
      <tr>
        <td><md-input-container class="user-full-width">
          <input [(ngModel)]="user.name" name="name" mdInput placeholder="Name" #name="ngModel" required>
          <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
            Name is required
          </div>
        </md-input-container></td>
        <td><md-input-container class="user-full-width">
          <input type="number" [(ngModel)]="user.score" name="score" mdInput placeholder="Score" #score="ngModel" required>
          <div [hidden]="score.valid || score.pristine" class="alert alert-danger">
            Score is required
          </div>
          </md-input-container></td>
      </tr>
    </table>
  </form>

  <div *ngIf="user.id; then edit else create"></div>
  <ng-template #edit>
    <button type="button" md-raised-button color="primary" [disabled]="userForm.form.invalid"
    (click)="editUser(user)">Edit User</button>
  </ng-template>

  <ng-template #create>
    <button type="button" md-raised-button color="primary" [disabled]="userForm.form.invalid"
    (click)="newUser(user)">New User</button>
  </ng-template>

  <button type="button" md-raised-button color="primary" (click)="cancel()">Cancel</button>
</div>